 <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="../home.hbs" class="logo d-flex align-items-center">
            <span>Phone Store</span>
          </a>
          <p>Réparez votre téléphone en un rien de temps avec notre expertise de pointe et retrouvez-le comme neuf !</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Liens Rapides</h4>
          <ul>
            <li><a href="../home.hbs">Acceuil </a></li>
            <li><a href="../about.hbs">À Propos</a></li>
            <li><a href="../contact.hbs">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nos Services</h4>
          <ul>
            <li><a href="#">RÉPARATION DE SMARTPHONES ET TABLETTES TOUTES MARQUES</a></li>
            <li><a href="#">RÉPARATION D'ORDINATEURS PORTABLES</a></li>
            <li><a href="#">VENTE D'ACCESSOIRES</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact </h4>
          <p>
            19 Bd Robert Jarry,<br>
            72100 Le Mans<br>
            France <br><br>
            <strong>Téléphone:</strong> 09 80 38 32 25<br>
            <strong>Email:</strong> phonestore72000@gmail.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Phone Store</span></strong>. Tous droits réservés
      </div>
      <div class="credits">
       
        
      </div>
    </div>

  </footer><!-- End Footer -->