  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/IMG-4426-removebg-preview-transformed.png" alt="Phone Store"  width="205" height="175"> 
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        
        <ul>
          <li class="nav-item">
          <a class="nav-link {{#if home}} active {{/if}}" aria-current="page" href="/">Acceuil</a></li>

          <li><a class="nav-link {{#if about}} active {{/if}}" aria-current="page" href="/about">À Propos</a></li>
            
          <li><a class="nav-link {{#if contact}} active {{/if}}" aria-current="page" href="/contact">Contact</a></li>

        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->